<h1>Edit Competency membership for <%= @partner_membership.partner.name %></h1>

<%= form_for(@partner_membership) do |f| %>
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
	<%= f.submit("Save") %>
<% end %>
<br />

<%= link_to("Home", {:action => 'index'})%>