			<tr>
				<td><%= link_to('', edit_partner_membership_path(membership.id), {data: {toggle: "tooltip"}, title: 'edit', class: "glyphicon glyphicon-edit"}) %></td>
				<td><%= link_to('', '/partner_memberships/'+membership.id.to_s, method: :delete, remote: true, data: {toggle: "tooltip", confirm: "Are you sure?"}, title: 'delete', class: "glyphicon glyphicon-remove")%></td>
				<td data-toggle="tooltip" title="<%= membership.competency.description %>"><%= membership.competency.name %></td>
				<td>
					<% if !membership.competency_level.nil? %>
						<%= membership.competency_level.name %>
					<% else %>
						Competency Level required
					<% end %>
					
				</td>
				<td><%= membership.num_vse %></td>
				<td><%= membership.num_vseplus %></td>
				<td><%= membership.num_vcs %></td>
			</tr>